/**
All Transitions
*/
a,input,img,textarea,button,svg,
.img-div,i,.hm-ser-cat-item-des-hover,.hm-ser-cat-item-des,
.dft-download-item-inr{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.scale,
.img-div-scale:hover .img-div{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.img-div-scale{
	overflow: hidden;
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a{
	color: #FF2021;
}




.dft-conversation-module a:hover i svg{
	fill: #000!important;
}

.main-slide-prev-next span:hover svg,
.testi-prev-nxt span:hover svg{
	fill: #FF2021!important;
}

.msbtn-1 a:hover i,
.msbtn-2 a:hover i{
	right: -5px;
}


.hm-about-sec-des a:hover{
	background: transparent!important;
	color: #FF2021;
}

.gk-btn-red a:hover{
	background: transparent;
	color: #FF2021;
}
.gk-btn-red a:hover svg{
	fill: #FF2021!important;
}

.gk-btn-black a:hover{
	background: transparent;
	color: #191A1E;
}
.gk-btn-black a:hover svg{
	fill: #191A1E!important;
}

.gk-btn-transparent a:hover{
	background: #191A1E;
	color: #fff;
}
.gk-btn-transparent a:hover svg{
	fill: #fff!important;
}

.gk-btn a:hover span i,
.dft-conversation-module a:hover i{
	right: -5px;
}

.dft-conversation-module a:hover{
	border-color: #fff!important;
	background: transparent;
}
.dft-conversation-module a:hover i svg{
	fill: #fff!important;
}