.header{
	position: relative;
	z-index: 20;
}
.header-inr{
	padding: 45px 0 55px;
	position: relative;
	margin: 0 -30px 0 -95px;
}
.hdr-lft{
	float: left;
	width: 30%;
}
.hdr-rgt{
	float: right;
	width: 70%;
}

.logo{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	z-index: 30;
}

.xs-logo{
	display: none;
}
.logo-texts{
	padding-left: 13px;
}
.logo-texts strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 48px;
	line-height: 1;
	font-weight: 700;
}
.logo-texts strong,
.logo-texts span{
	text-transform: uppercase;
}
.logo-texts span{
	display: block;
	font-weight: 300;
	font-size: 36px;
	line-height: 1;
}
.has-cat-title{
	margin-top: -22px;
}

.hdr-topbar{
	display: flex;
	justify-content: flex-end;
	color: #9A9A9A;
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	margin-bottom: 25px;
}
.hdr-topbar-inr ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 30px;
	position: relative;
}
.hdr-topbar-inr ul li:last-child{
	padding-right: 0;
}
.hdr-topbar-inr ul li:not(:last-child):after{
	content: "";
	width: 1px;
	height: 16px;
	background: #D7D7D7;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.hdr-tel a{
	color: #9A9A9A;
}
.hdr-tel a:hover{
	color: #FF2021;
}
.hdr-time{
	display: flex;
	align-items: center;
}
.hdr-time label{
	margin: 0;
	font-weight: 500;
}
.hdr-social{
	position: relative;
	top: -.5px;
}
.hdr-social a{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 18px;
}
.hdr-social a:hover svg{
	fill: #FF2021!important;
}
.hdr-social a:last-child{
	margin-right: 0;
}
.main-nav-cntlr-inr{
	display: flex;
	justify-content: flex-end;
}
nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
	text-transform: uppercase;
	padding: 0 27px 45px;
	position: relative;
}
nav.main-nav > ul > li:last-child{
	padding-right: 0;
}
nav.main-nav > ul > li > a{
	font-weight: 600;
	padding-bottom: 5px;
	color: #222020;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}


nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 205px;
	padding: 5px 0 0 0;
	background: #fff;
	border-top: 2px solid #222020;
	z-index: 30;
	box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
}
nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav  ul.sub-menu li{
	padding: 0 0 0 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #eee;
}
nav.main-nav ul.sub-menu li a{
	color: #9e9ea1;
	font-size: 13px;
	display: block;
	padding: 10px 20px;
	position: relative;
}

nav.main-nav ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #222020;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav ul.sub-menu li:hover:after {
    height: 100%;
}



/*xs menu*/
.hdr-topbar-grd-xs{
	display: none;
}
.xs-nav-cntlr{
	opacity: 0;
	z-index: -999999;
	width: 0;
	position: absolute;
	height: 0;
	text-indent: -9999999999999px;
}

.hdr-humbergur-btn{
	width: 33px;
	height: 20px;
	position: relative;
	cursor: pointer;
	display: none;
}
.hdr-humbergur-btn span{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #191A1E;
	height: 3px;
	-webkit-transition: all .2s;
    -ms-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    border-radius: 10px;
}
.hdr-humbergur-btn span:nth-child(1){
	top: 0;
}
.hdr-humbergur-btn span:nth-child(2){
	top: 8px;
}
.hdr-humbergur-btn span:nth-child(3){
	top: 16px;
}

@media(max-width: 1499px){
	nav.main-nav > ul > li{
		padding-left: 17px;
		padding-right: 17px;
	}

}

@media(max-width: 1399px){
	.header-inr{
		margin-left: 0;
		margin-right: 0;
	}
	.page-banner-img-cntlr{
		right: 15px!important;
	}
	nav.main-nav > ul > li{
		padding-bottom: 30px;
	}
	.header-inr{
		padding-bottom: 0;
		padding-top: 35px;
	}
	


}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	nav.main-nav > ul > li {
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-bottom: 15px;
	}
	.header-inr{
		padding-top: 25px;
	}
	.hdr-topbar{
		margin-bottom: 20px;
	}
	.main-nav{
		font-size: 15px;
	}
	.hdr-topbar-inr ul li{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media(max-width: 991px){
	.header{
		z-index: initial;
	}
	.hdr-rgt > div.hdr-topbar,
	.main-nav-cntlr-inr{
		display: none;
	}
	.header-inr{
		min-height: 95px;
		padding-top: 0;
	}

	.main-nav-menu-bar-xs{
		display: flex;
		justify-content: flex-end;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
	.menu-closebtn{
		float: right;
	}
	.main-nav-menu-bar-xs > div{
		display: flex;
		align-items: center;
	}
	.hdr-humbergur-btn {
	    display: block;
	    height: 18px;
	}
	.xs-popup-btm-content ul li{
		display: block;
		padding-bottom: 20px;
		text-align: left;
	}
	.hdr-topbar{
		display: block;
		text-align: left;
	}
	.hdr-topbar-inr ul li:not(:last-child):after{
		content: none;
	}
	.xs-popup-btm-content{
		padding-top: 20px;
	}
	/*-----xs menu */
	.menu-expend span:nth-child(1) {
	    top: 45%;
	    transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    margin-bottom: 0;
	    width: 100%;
	}
	.menu-expend span:nth-child(2) {
	    opacity: 0;
	}
	.menu-expend span:nth-child(3) {
	    top: 9px;
	    transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    width: 100%;
	}
	.menu-closebtn {
	    position: relative;
	    width: 25px;
	    height: 25px;
	    cursor: pointer;
	    display: inline-block;
	    vertical-align: top;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		margin-left: auto;
		
	}
	.menu-closebtn span {
	    position: inherit;
	    left: 0px;
	    height: 4px;
	    width: 100%;
	    background: #000;
	    top: 0;
	    display: block;
	    position: absolute;
	}
	.menu-closebtn span:first-child {
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	}
	.menu-closebtn span:last-child {
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    top: 1px;
	}
	body.active-scroll-off{
		overflow: hidden!important;
	}
	.bdoverlay.active {
	    z-index: 9999;
	    opacity: 1;
	}
	.bdoverlay {
	    background: rgba(0, 0, 0, 0.8);
	    position: fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    z-index: -1;
	}

	.xs-nav-cntlr{
	    position: fixed;
	    top: 0;
	    right: -250px;
	    bottom: 0;
	    background: #fff;
	    color: #000;
	    font-size: 18px;
	    line-height: 20px;
	    max-width: 350px;
	    width: 0;
	    z-index: -1;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.xs-nav-cntlr.opacity-1 {
	    right: 0;
	    opacity: 1;
	    z-index: 9999;
	    width: 100%;
	    height: initial;
	    text-indent: initial;
	}
	.xs-nav-inr{
		position: relative;
		overflow-y: scroll;
		padding: 40px 20px 50px;
		height: 100%;
		width: 100%;
	}
	.xs-main-nav ul li{
		padding: 10px 5px;
		border-bottom: 1px solid #ccc;
	}
	.xs-main-nav ul li a{
		font-size: 16px;
		color: #000;
		display: block;
		position: relative;
	}
	.xs-main-nav > ul > li > a{
		text-transform: uppercase;
	}
	.xs-nav-cntlr .sub-menu{
		display: none;
		padding-top: 10px;
	}
	.xs-main-nav > ul > li > ul li a{
		font-size: 14px;
	}
	.xs-main-nav > ul > li > ul > li{
		text-transform: capitalize;
	}
	.xs-main-nav > ul > li > ul li:last-child{
		border-bottom: none;
	}

	li.menu-item-has-children > a:after{
		content: "\f105"!important;
		font-family: 'Font Awesome 5 Free';
		font-weight: 600;
		text-decoration: inherit;
		color: #1E1E1E;
		font-size: 22px;
		padding-right: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		right: 15px;
		line-height: 15px;
	}
	li.menu-item-has-children > a.sub-menu-active:after{
		content: "\f107"!important;
	}
	/*menu end */
	
}

@media(max-width: 767px){

}

@media(max-width: 575px){
	.xlg-logo{
		top: 10px;
		display: none;
	}
	a.xs-logo{
		display: block;
		top: 10px;
		position: relative;
		left: 0;
		z-index: 30;
	}
	.header-inr{
		min-height: 65px;
	}
	.xs-popup-btm-content ul li{
		padding-left: 0;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}