.page-banner{
	padding: 55px 0;
	margin-bottom: 65px;
	position: relative;
	margin-top: -55px;
	z-index: 1;
}
.page-bnr-black-bg{
	background: #191A1E;
	height: 250px;
}
.page-banner-img-cntlr{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.page-banner-img-cntlr-inr{
	position: relative;
	height: 100%;
	width: 100%;
}
.page-banner-bg-cntlr{
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.page-bnr-angle{
	position: absolute;
	right: -12px;
	bottom: -14px;
	z-index: 1;
}
.page-banner-title{
	display: block;
	font-weight: 800;
	font-size: 72px;
	line-height: 1;
	margin-bottom: 25px;
}
.page-banner-title span{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
}
.page-banner-title span i{
	color: #ff2021;
	margin-left: 3px;
}
.page-banner-des{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	color: #fff;
}
.page-banner-des-inr{
	max-width: 1395px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

.page-breadcrumbs ul li{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	padding: 0 30px;
}
.page-breadcrumbs ul li:first-child{
	padding-left: 0;
}
.page-breadcrumbs ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 24px;
	line-height: 1;
	color: #fff;
}
.page-breadcrumbs ul li:not(:last-child):after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/breadcrumbs-arrow-white.svg);
	width: 16px;
	height: 13.3px;
	right: -7px;
}



.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}