.gk-ref-entry-hdr{
	padding-bottom: 32px;
	text-align: center;
	border-bottom: 2px solid #F8F8F8;
}


.gk-ref-filter{
	padding: 50px 0;
}
.gk-ref-filter-left{
	float: left;
}
.gk-ref-filter-rgt{
	float: right;
}

.gk-ref-filter-left span{
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	color: #222020;
	font-weight: 700;
}
.gk-ref-filter-left span i{
	color: #FF2021;
}


.gk-ref-filter-rgt ul{
	margin-left: -34px;
	margin-right: -34px;
}
.gk-ref-filter-rgt ul li{
	display: inline-block;
	padding-left: 34px;
	padding-right: 34px;
	position: relative;
}
.gk-ref-filter-rgt ul li:after{
	content: "";
	height: 26px;
	width: 1px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	background: #EFEFEF;
}
.gk-ref-filter-rgt ul li:last-child:after{
	content: none;
}
.gk-ref-fil-rgt-opt label{
	margin: 0;
	font-size: 14px;
}

.gk-ref-sec .filter-option-inner-inner{
	font-size: 14px;
	color: #222020;
	text-transform: uppercase;
	font-weight: 700;
}
.gk-ref-fil-rgt-sel{
	width: 160px;
	display: inline-block;
}
.gk-ref-sec .bootstrap-select:not([class*=col-]):not([class*=form-control])
:not(.input-group-btn) {
    width: 160px!important;
}

.bootstrap-select>select {
    position: absolute!important;
    bottom: 0;
    left: 0%;
    display: block!important;
    width: .5px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;
}

.gk-ref-sec .dropdown-toggle::before {
    content: "\f107"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #FF2021;
    font-size: 22px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
    line-height: 15px;
}
.gk-ref-sec .btn {
    padding: 0.55rem .75rem; 
}
.gk-ref-sec .btn-light {
    border-color: none;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
    background-color: #FF2021;
}



.gk-ref-grd-ctlr{
	padding-bottom: 80px;
}
.gk-ref-grd-ctlr ul{
	margin-left: -12px;
	margin-right: -12px;
}
.gk-ref-grd-ctlr ul li{
	float: left;
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}
.gk-ref-grd-ctlr ul li:nth-child(3n+1){
	clear: left;
}


.gk-ref-grd-fea-img-ctlr{
	position: relative;
	overflow: hidden;
}
.gk-ref-grd-fea-img{
	height: 100%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.gk-ref-grd-item:hover .gk-ref-grd-fea-img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.gk-ref-grd-des{
	padding-top: 35px;
	text-align: center;
}
.gk-rgd-title{
	display: block;
	font-size: 24px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 20px;
	color: #222020;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}
.gk-rgd-title a{
	color: #222020;
}
.gk-rgd-title a:hover{
	color: #FF2021;
}
.gk-ref-grd-des > a{
	width: 200px;
	height: 48px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	background: #222020;
	margin-left: auto;
	margin-right: auto;
}
.gk-ref-grd-des > a:hover{
	background: #FF2021;
}

.gk-ref-ctlr .footer-top-wrp {
    margin-top: 0;
}
.gk-ref-filter-mob{
	display: none;
}


@media(max-width: 1499px){
	.container{
		max-width: 1200px;
	}
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.gk-ref-filter {
	    padding: 40px 0;
	}
	.gk-ref-grd-ctlr {
	    padding-bottom: 70px;
	}

}

@media(max-width: 991px){
	.gk-ref-entry-hdr {
	    padding-bottom: 25px;
	}
	.gk-ref-entry-hdr p br{
		display: none;
	}
	.gk-ref-grd-ctlr ul li:nth-child(3n+1) {
	    clear: none;
	}
	.gk-ref-grd-ctlr ul li:nth-child(2n+1) {
	    clear: left;
	}
	.gk-ref-grd-ctlr ul li {
	    width: 50%;
	}
	
}

@media(max-width: 767px){
	.gk-ref-entry-hdr {
	    padding-bottom: 15px;
	}
	.gk-ref-entry-hdr p{
		font-size: 14px;
	}
	.gk-ref-grd-ctlr ul {
	    margin-left: 0;
	    margin-right: 0;
	}
	.gk-ref-grd-ctlr ul li {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	    padding-bottom: 40px;
	}
	.gk-ref-grd-item{
		max-width: 328px;
		margin: 0 auto;
	}
	.gk-ref-grd-ctlr {
	    padding-bottom: 40px;
	}

	.gk-ref-filter{
		display: none;
	}

	.gk-ref-filter-mob{
		display: block;
	}
	.gk-ref-filter-mob {
	    padding: 30px 0 25px;
	}
	
	.gk-ref-filter-mob span {
	    display: block;
	    font-size: 14px;
	    text-transform: uppercase;
	    color: #222020;
	    font-weight: 700;
	    padding-left: 32px;
	    padding-right: 20px;
	    padding-bottom: 30px;
	    border-bottom: 1px solid #e9e9e9;
	    position: relative;
	}
	.gk-ref-filter-mob span:before{
		content: "";
		height: 20px;
		width: 20px;
		position: absolute;
		top: 0;
		left: 0;
		background: url('../images/gk-ref-filter-icon.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.gk-ref-filter-mob span:after{
		content: "";
		height: 10px;
		width: 18px;
		position: absolute;
		top: 20%;
		right: 0;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		background: url('../images/gk-ref-down-arrow.svg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	
	.gk-ref-fltr-mob-ctgr{
		float: left;
		width: 50%;
	}
	.gk-ref-fltr-mob-stl{
		float: right;
		width: 50%;
	}
	.mob-fltr{
		padding-top: 25px;
	}
	
	
}

@media(max-width: 575px){
	.gk-ref-grd-ctlr {
	    padding-bottom: 20px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}