.gk-referenties-details-sec{
	padding: 75px 0 200px;
	background: #F9F9F9;
}
.gkrds-entry-hdr{
	text-align: center;
	padding-bottom: 30px;
}
.gkrds-title{
	display: block;
	font-size: 24px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 25px;
	color: #191A1E;
	text-transform: uppercase;
}
.gkrds-title span{
	font-weight: normal;
}
.gkrds-title i{
	color: #FF2021;
}

.gk-ref-det-ctlr ul{
	margin-left: -12px;
	margin-right: -12px;
}
.gk-ref-det-ctlr ul li{
	float: left;
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}
.gk-ref-det-ctlr ul li:nth-child(3n+1){
	clear: left;
}


.gk-ref-det-grd-fea-img-ctlr{
	position: relative;
	overflow: hidden;
}
.gk-ref-det-grd-fea-img{
	height: 100%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.gk-ref-det-grd-item:hover .gk-ref-det-grd-fea-img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.gk-ref-det-grd-des{
	padding-top: 35px;
	text-align: center;
}

.gk-ref-det-grd-des-title{
	display: block;
	font-size: 24px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 20px;
	color: #222020;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}
.gk-ref-det-grd-des-title a{
	color: #222020;
}
.gk-ref-det-grd-des-title a:hover{
	color: #FF2021;
}

.gk-ref-det-grd-des > a{
	width: 200px;
	height: 48px;
	padding: 5px 10px;
	background: #222020;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
}
.gk-ref-det-grd-des > a:hover{
	background: #FF2021;
}
.gk-ref-det-grd-item{
	overflow: hidden;
	position: relative;
	z-index: 15;
}
.gk-ref-det-grd-item-kijker{
	height: 48px;
    width: 270px;
    background: #FF2021;
    position: absolute;
    left: -56px;
    top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    z-index: 11;
}
.gk-ref-det-grd-item-kijker span{
	font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}


.gk-ref-det-rgtsidebar-title{
	display: block;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 10px;
	font-weight: 700;
	color: #222020;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}
.gk-ref-det-rgtsidebar-title i{
	color: #FF2021;
}


.gk-ref-det-page-ctlr .gk-prod-des-sec-inr {
    padding-bottom: 80px;
}
.gk-ref-det-page-ctlr .gk-prod-des-rgtsiderbar {
    padding: 50px 30px 35px 40px;;
}







@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}

}

@media(max-width: 991px){
	.gk-referenties-details-sec {
	    padding: 70px 0 150px;
	}
	.gkrds-entry-hdr p br{
		display: none;
	}
	/*.gk-ref-det-ctlr ul li {
	    width: 50%;
	}
	.gk-ref-det-ctlr ul li:nth-child(3n+1) {
	    clear: none;
	}
	.gk-ref-det-ctlr ul li:nth-child(2n+1) {
	    clear: left;
	}*/
	.gk-referenties-details-sec .slick-slider ul.slick-dots{
		max-width: 150px;
		margin: 0 auto;
	}
	
}

@media(max-width: 767px){
	.gk-referenties-details-sec {
	    padding: 60px 0 115px;
	}
	.gkrds-entry-hdr {
	    padding-bottom: 0;
	}
	.gkrds-title {
	    font-size: 30px;
	    margin-bottom: 28px;
	}
	.gkrds-entry-hdr p{
		display: none;
	}
	.gk-ref-det-ctlr ul {
	    margin-left: 0;
	    margin-right: 0;
	}
	.gk-ref-det-ctlr ul li {
	    width: 100%;
	    padding-left: 0;
    	padding-right: 0;
    	padding-bottom: 40px;
    	border-bottom: 1px solid #e9e9e9;
	}
	.gk-ref-det-grd-item{
		max-width: 328px;
		margin: 0 auto;
	}
	.gk-referenties-details-sec .slick-slider ul.slick-dots {
	    max-width: 150px;
	    margin: 0 auto;
	    margin-top: 35px;
    	margin-bottom: 35px;
	}
	.gk-ref-det-ctlr{
		position: relative;
	}
	.mainslider .gk-ref-det-leftarrow,
	.mainslider .gk-ref-det-rightarrow{
		display: block;
		height: 16px;
		width: 18px;
		cursor: pointer;
		color: #D5D5D5;
		text-align: center;
		background: transparent;
	}
	.mainslider .gk-ref-det-leftarrow{
		position: absolute;
		left: 0%;
		top: 92.5%;
		-ms-transform: translateY(-50%,-50%);
		-webkit-transform: translateY(-50%,-50%);
		transform: translateY(-50%,-50%);
		z-index: 5;
		background-image: url(../images/gk-prod-leftarrow.png);
		background-repeat: no-repeat;
		background-size: 18px 16px;
	    background-position: center center;
	}
	.mainslider .gk-ref-det-rightarrow{
		position: absolute;
		right: 0%;
		top: 92.5%;
		-ms-transform: translateY(-50%,-50%);
		-webkit-transform: translateY(-50%,-50%);
		transform: translateY(-50%,-50%);
		z-index: 5;	
		background-image: url(../images/gk-prod-rightarrow.png);
		background-repeat: no-repeat;
		background-size: 18px 16px;
	    background-position: center center;
	}
}

@media(max-width: 575px){
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}